/* Resume Section */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 900px;
    background-color: #3C3D37; /* Background for the about section */
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%; /* Circular profile picture */
    object-fit: cover;
    border: 6px solid #3C3D37;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for the profile image */
  }
  
  .profile h1 {
    font-size: 36px;
    color: #ECDFCC;
    margin-top: 15px;
    font-weight: 700; /* Emphasize the name */
  }
  
  .profile p {
    font-size: 20px;
    color: #697565;
    text-align: center;
    margin: 5px 0;
  }
  
  .about-details {
    width: 100%;
  }
  
  .education, .experience {
    margin-bottom: 30px;
  }
  
  .education h2, .experience h2, .skills h2 {
    font-size: 28px;
    color: #ECDFCC;
    border-bottom: 3px solid #697565;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .education ul, .experience ul, .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .education li, .experience li, .skills li {
    font-size: 18px;
    color: #ecdfccba;
    margin-bottom: 12px;
    line-height: 1.6; /* Improve readability */
  }
  
  .education li strong, .experience li strong, .skills li strong {
    font-weight: 700;
    color: #ECDFCC; /* Darker for emphasis */
  }
  
  a {
    color: #697565f9;
    text-decoration: none;
    font-weight: 500;
  }
  
  a:hover {
    color: #63655a89;
    text-decoration: underline;
  }
  
  .item-container {
    display: flex;
    justify-content: space-between; /* Align items to the ends */
    align-items: center; /* Center items vertically */
  }
  
  .date {
    color: #ecdfccba;
    font-size: 16px;
    text-align: right; /* Align text to the right */
  }
  
  .social-media {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    gap: 20px; /* Optional: Add space between icons */
    margin: 20px 0; /* Optional: Add vertical spacing */
  }
  
  .social-icon {
    width: 40px; /* Adjust size of the icons */
    height: 40px;
  }
  